@charset "utf-8";
@media screen and (max-width:767px) {
    #WRAP{width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    body{font-size: 14px;}
    header, main, section, aside, footer{
        width: 100%; float: left; position: relative;
    }
    #H-WRAP{display: none;}
    #MOB-MENU{display: block;}

    header{
        height: 150px;
    }

    #m-logo{
        width: 200px; height: 100px;
        position: relative;
        top: 10px;
        margin: 20px auto;
        cursor: pointer;
    }

    #cam{
        width: 40px; height: 40px;
        position: absolute;
        bottom: 50px; left: 50px;
        cursor: pointer;
    }
    #cam>img:hover{opacity: 50%;}
    #m_menu{
        width: 100%; height: 0px;
        position: relative;
        bottom: 10px;
        transition-duration: 0.5s;
        z-index: 99;
        overflow: hidden;
    }
    #m_menu>li{
        width: 100%; height: 50px;
        text-align: center;
        font: 900 18px/50px 'Hahmlet';
        float: left;
        background-color: white;
        border-bottom: 1px solid lightgray;
        box-sizing: border-box;
    }
    #m_menu>li a{transition-duration: 0.5s;}
    #m_menu>li:hover a{color: darkgray;}
    #mo-btn:checked ~ #m_menu{height: 250px;}


    #m-login{
        width: 300px; height: 20px;
        font: 500 12px/20px 'Hahmlet';
        margin: 0 auto;
        position: relative;
        bottom: 115px;
        display: flex;
        justify-content: center;
    }
    #m-login>li{float: left;}
    #m-login>li:hover a{color: gray;}

    /* HEADER END */

    main{
        height: 500px;
        background-image: url(../img/main.jpg);
        background-position: center;
        background-repeat: no-repeat;
    }
    /* MAIN END */

    #AS-WRAP{
        width: 90%;
        margin: 0 auto;
    }
    aside{width: 100%;}
    #a_menu{
        height: 250px;
        text-align: center;
    }
    #a_menu>li:first-child{
        height: 50px;
        font: 700 18px/50px 'Hahmlet';
        background-color: black;
        color: white;
        border-bottom: 0;
    }
    #a_menu>li:first-child:hover{background-color: black;}
    #a_menu>li{
        height: 40px;
        border-bottom: 2px solid gainsboro;
        font: 600 14px/40px 'Hahmlet';
        transition-duration: 0.5s;
    }
    #a_menu>li:hover{
        background-color: rgba(0, 0, 0, 0.5);
    }
    #a_menu>li:hover a{
        color: white;
    }
    /* ASIDE END */

    section{
        width: 100%;
        height: 950px;
        float: left;
        overflow: hidden;
    }

    /* RADIO BUTTON */
    #tab-menu{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .m_btn{
        width: 10px; height: 10px;
        text-align: center;
        display: block;
        color: darkgray;
        float: left; 
        margin-top: 30px;
        margin-left: 10px;
        cursor: pointer;}
    
    .m_btn:first-child{margin-left: 0;}
    .m_btn:hover{color: dimgray;}

    #tab-detail{
        width: 90%;
        position: relative;
        top: 30px;
        transition-duration: 0.5s;
    }

    .title{
        height: 50px;
        font: 800 25px/50px 'Hahmlet';
        border-bottom: 2px dotted lightgray;
        margin-left: 30px;
        color: black;
    }

    #tab{
        width: 651.890482%; height: 950px;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
    .detail{
        width: 20%;
        font: 500 13px/23px 'Hahmlet';
        color: #333;
        margin: 0 25px;
        float: left;
    }
    #dslr{
        width: 400px; height: 328px;
        margin: 0 auto;
    }
    .detail>img{
        margin: 50px auto;
        width: 65%;
    }
    .detail>span{
        display: block;
        width: 90%;
        position: relative;
        left: 5%;
    }

    #menu-01:checked ~ #tab-detail{right: 13%;}
    #menu-02:checked ~ #tab-detail{right: 130%;}
    #menu-03:checked ~ #tab-detail{right: 247%}
    #menu-04:checked ~ #tab-detail{right: 364%;}
    #menu-05:checked ~ #tab-detail{right: 482%;}

    /* SECTION END */

    footer{
        height: 200px;
        background-color: black;
    }
    #F-WRAP{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #f-detail{
        text-align: center;
        color: white;
        font: 500 11px/20px 'Hahmlet';
    }
    /* FOOTER END */
}
/* MOBILE END */